# 202020V Online Transactions
In this project I will be working on some imaginary data of a brazilan company order payments. The goal is to create real world situations that may occur when dealing with the data. 
Also note that all of these questions can be answered with one line of code which is a huge reason why I enjoy Python.

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

%matplotlib inline



ecom = pd.read_csv("olist_order_payments_dataset.csv")

In [140]:
# checking the data details of columns and rows top 10
ecom.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

In [141]:
# lets see some details of the data. How many rows and columns are on this thingy.. lol.
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [142]:
# Let's find the average Payment Value of all
ecom['payment_value'].mean()

154.10038041698365

In [143]:
# let's find the lowest order payment
ecom['payment_value'].min()

0.0

In [144]:
# let's find the heighest order payment
ecom['payment_value'].max()

13664.08

In [145]:
# Lets find the lowest payment installments
ecom['payment_installments'].min()

0

In [146]:
# Lets find the highest payment installments
ecom['payment_installments'].max()

24

In [147]:
# How many boleto payments
# https://en.wikipedia.org/wiki/Boleto
ecom[ecom["payment_type"]=='boleto'].count()

order_id                19784
payment_sequential      19784
payment_type            19784
payment_installments    19784
payment_value           19784
dtype: int64

In [148]:
# There's been an conversation raised about the order id: 1f78449c87a54faf9e96e88ba1491fa9. Can you give me the details please?
ecom[ecom["order_id"]=='1f78449c87a54faf9e96e88ba1491fa9']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09

In [149]:
# Let's see the data again. Need to refresh my eyes...lol. Please?
ecom

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [150]:
# First give me the top 20 transactions.

ecom.head(20)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28
15,12e5cfe0e4716b59afb0e0f4a3bd6570,1,credit_card,10,157.45
16,61059985a6fc0ad64e95d9944caacdad,1,credit_card,1,132.04
17,79da3f5fe31ad1e454f06f95dc032ad5,1,credit_card,1,98.94
18,8ac09207f415d55acff302df7d6a895c,1,credit_card,4,244.15
19,b2349a3f20dfbeef62e7b31baa22f84b,1,credit_card,3,136.71

In [151]:
# How many Boleto payments we did? I forgot to ask. Show me that.
ecom.loc[ecom['payment_type'] == 'boleto'].count()

order_id                19784
payment_sequential      19784
payment_type            19784
payment_installments    19784
payment_value           19784
dtype: int64

In [152]:
# let's see all the transactions that are 300 and more. I know... just curious. 
ecom['payment_value']>=300

0         False
1         False
2         False
3         False
4         False
          ...
103881     True
103882    False
103883    False
103884     True
103885    False
Name: payment_value, Length: 103886, dtype: bool

In [153]:
# Okay... great job! Go home and enjoy the day. Lunch on me!